body {
    color: #40514e;
    margin: 0;
    text-align: center;

}

p {
    line-height: 2;
}

h1 {
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;

}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    margin: auto;
}

h3 {
    color: #11999E;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
}


/*-------------------TOP CONTAINER------------------------*/

.top-container {
    background-color: beige;
    position: relative;
    padding-top: 60px;

}

.sopho {
    text-decoration: underline;
}

/*-------------------TOP CONTAINER END------------------------*/


/*-------------------MIDDLE CONTAINER------------------------*/

.middle-container {
    margin: 100px 0;
}

.intro {
    width: 60%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: auto; /*this is done so that the content comes back to center.*/
    margin: 50px auto;
    padding: 5px;
}


/*-------------------MIDDLE CONTAINER END------------------------*/

/*-------------------IMAGES------------------------*/


.top-cloud {
    position: absolute;
    right: 210px;
    top: 70px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.profile-img {
    width: 25%;

}

.code-img {
    width: 50%;
    float: left;
    margin-right: 1px;
}

.art-img {
    width: 30%;
    float: right;
}

.hello-img{
    width: 70px;
    display: inline-block;
    padding-bottom: 0;
}




/*--------------------IMAGES END-------------------*/

/*--------------------BUTTON CODE-------------------*/

.btn {
    background: #6fd7d9;
    background-image: -webkit-linear-gradient(top, #6fd7d9, #1dabad);
    background-image: -moz-linear-gradient(top, #6fd7d9, #1dabad);
    background-image: -ms-linear-gradient(top, #6fd7d9, #1dabad);
    background-image: -o-linear-gradient(top, #6fd7d9, #1dabad);
    background-image: linear-gradient(to bottom, #6fd7d9, #1dabad);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30f0d3;
    background-image: -webkit-linear-gradient(top, #30f0d3, #219e89);
    background-image: -moz-linear-gradient(top, #30f0d3, #219e89);
    background-image: -ms-linear-gradient(top, #30f0d3, #219e89);
    background-image: -o-linear-gradient(top, #30f0d3, #219e89);
    background-image: linear-gradient(to bottom, #30f0d3, #219e89);
    text-decoration: none;
  }

/*--------------------BUTTON CODE END-------------------*/

/*-------------------BOTTOM CONTAINER------------------------*/

.contact-msg {
    width: 30%;
    margin: auto;
    padding-bottom: 50px;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 20px 0 10px;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.85rem;
}

a {
    margin: 10px 10px;
    text-decoration: none;
}

a:link {
    color: #11999E;
}

a:hover {
    color: #eaf6f6;
}
.footer-link{
    font-size: 1.3rem;
}


/*-------------------BOTTOM CONTAINER END------------------------*/

